


body{
    background-color: rgb(64, 194, 194);
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    color: white;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 6px;
    color: white;
}
nav a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.main-container{
    margin: 150px 0;
    text-align: center;
}
.inner-container{
    color: rgb(226, 239, 251);
    font-size: 20px;
}
.inner-containerh3{
    font-size: 15px;
}
.sub-container{
    justify-content: center;
    text-align: center;
}
p{
    margin:7px 0 ;
    width:70% ;
    margin: 0 130px;
    color: white;
}
button{
    margin: 10px;
    height: 210%; ;
    width: 120px ; 
    background-color: transparent;
    border: 1px solid white;
    color:white ;
}